body {
    background-attachment: fixed;
    background-image: url(https://pixabay.com/get/57e3d4424857ad14f6d1867dda3536781536dced51507840_1920.jpg?attachment=);
}
.twitch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 100%;
    overflow-y: visible;

}
.worked {
    background-color: #18181B;
    margin-top: 20px;
    margin-bottom: 20px;

}
.didnt {
    background-color: #00000099;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.followme {
    color: #E9A539;
}
.followme:visited {
    color: #E9A539;
}