.about {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    color: #2d5261;

}
.aboutTitle {
    color: #F4A261;
    font-size: 300%;
    margin: 0;
    margin-top: 15px;
}
.left-box {
    display: inline-flex;
}
.about-left {
    font-size: 200%;
    text-align: center;
    margin: 1vh 10vw;
}

@media screen and (max-width: 1112px) {
    .about-left {
        margin: 0;
        margin-left: 40px;
        font-size: 150%;
        margin: 1vh 10vw;
        margin-bottom: 6vh;

    }
}

@media screen and (max-width: 700px) {
    .about-left {
        margin: 1vh 10vw;
        margin-left: 40px;
        font-size: 125%;
        margin-bottom: 6vh;

    }
}